/* @media ( min-width: 800px ) {} */

:root{
    --primary: rgb(78, 248, 255);
    --light: rgb(255, 255, 255);
    --dark: rgb(0, 0, 0);
    --gray: rgb(66, 69, 74);

    --font-primary: "Inter", sans-serif;
    --font-secondary: "Neumatic Gothic Black", "Inter", sans-serif;

    --font-size-normal: 1.148rem;
    --font-size-small: 1rem;
    --font-size-x-small: .8rem;
    --font-size-xx-small: .7rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 100vw;
    padding-inline: 1rem;
    padding-block-end: 1.5rem;
    overflow-x: hidden;
    font-family: var(--font-primary);
    
    @media ( min-width: 800px ) {
        padding-inline: 2rem;
        overflow: hidden;
    }
}

.bg{
    display: none;
    
    @media ( min-width: 800px ) {
        display: unset;
        position: relative;
        
        .ellipse{
            aspect-ratio: 1/1;
            width: 1516px;
            position: absolute;
            /* transform: translate(-50%, -50%); */
            top: -552px;
            left: 459px;
            border-radius: 50%;
            background-color: var(--primary);
            background: linear-gradient(135deg, #D8E6EF, #4EF8FF);
            z-index: -1;
        }

        .bike_name{
            position: relative;
            top: 700px;
            left: 300px;
            font-size: 17rem;
            text-transform: uppercase;
            color: var(--light);
            font-family: var(--font-secondary);
        }
        
        .sparkle-1{
            position: relative;
            top: 425px;
            left: 30px;
        }

        .sparkle-2{
            position: relative;
            top: 820px;
            left: 596px;
        }
    }
}




/* HEADER */
.header{
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media ( min-width: 800px ) {
        justify-content: flex-start;
        gap: 10rem;
    }
}

.nav_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9rem;
    list-style: none;
}

.nav_link{
    color: inherit;
    font-weight: 700;
    letter-spacing: .2ch;
    text-decoration: none;
    text-transform: uppercase;
}

.login_link{
    padding: .3rem 1rem;
    color: var(--light);
    background: linear-gradient(135deg, #0063B2, #4EF8FF);
    border-radius: .7rem;
}


/* Nav Toggling */
.nav_toggle_btn{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    @media ( min-width: 800px ) {
        display: none;
    }
}

.nav_toggle_icon{
    width: 1.7rem;
}

.nav_toggle_icon path{
    fill: var(--dark);
}


/* Nav Toggling Logic */
.nav{
    display: none;

    @media ( min-width: 800px ) {
        display: unset;
    }
}

.active_nav{
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70vw;
    color: var(--dark);
    background-color: var(--light);

    .nav_list{
        flex-direction: column;
        gap: 2rem;
    }
}

.close_nav{
    display: none;
}

.active_nav_toggle{
    z-index: 1;

    .open_nav{
        display: none;
    }

    .close_nav{
        display: unset;
    }
}




/* MAIN */
.main{
    @media ( min-width: 800px ) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.heading{
    font-size: 4.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -6px;
    line-height: 1;
    
    @media ( min-width: 800px ) {
        font-size: 7.178rem;
    }
}

.heading_prefix{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.1ch;
    margin-inline-start: .5ch;
    
    @media ( min-width: 800px ) {
        font-size: 1.551rem;
    }
}

.description{
    margin-block: 2rem;
    margin-inline-start: .5ch;
    max-width: 20ch;
    font-size: var(--font-size-small);
    font-weight: 500;
    line-height: 1.6;
    color: var(--gray);
    
    @media ( min-width: 800px ) {
        margin-block: 3rem;
        font-size: var(--font-size-normal);
    }
}

.main_call_to_action_div{
    margin: 5rem 0 0 1rem;
    margin: 0rem 0 5rem 1rem;
    
    @media ( min-width: 800px ) {
        margin: 5rem 0 7rem 1rem;
    }
}

.main_call_to_action{
    padding: .5rem 1rem;
    font-size: var(--font-size-xx-small);
    color: var(--light);
    font-weight: 700;
    letter-spacing: .2ch;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(135deg, #0063B2, #4EF8FF);
    border-radius: .5rem;

    @media ( min-width: 800px ) {
        font-size: 1rem;
    }
}

.hero_img{
    max-width: 100%;
}

.specs_div{
    width: 100%;
    margin-block: 2rem;
    margin-inline: auto;
    border: 1.5px solid var(--primary);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    @media ( min-width: 800px ) {
        /* display: unset; */
        width: max-content;
        margin-block: unset;
        padding-inline: 2.5rem;
        border-radius: 1.5rem;
    }
}

.spec{
    margin: .7rem 0;
    font-size: var(--font-size-x-small);
    font-weight: 600;
    
    @media ( min-width: 800px ) {
        display: inline-block;
        margin: 1.7rem 2rem;
        font-size: 1rem;
    }
}

.spec_name{
    font-size: var(--font-size-xx-small);
    
    @media ( min-width: 800px ) {
        font-size: var(--font-size-x-small);
    }
}



/* FOOTER */
.footer{
    /* margin-block: 1.5rem; */
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer p{
    font-size: 1rem;
}

.footer_vector{
    margin-inline: 1rem;
    transform: translateY(7px);
}


/* Footer bg */
.bg_m{
    @media ( min-width: 800px ) {
        display: none;
    }

    position: relative;
    width: calc( 100vw - 1rem );
    height: 150vw;
    top: -150vw;
    left: 0;
    overflow: hidden;
    
    .ellipse{
        aspect-ratio: 1/1;
        width: 150vw;
        position: absolute;
        /* transform: translate(-50%, -50%); */
        bottom: -552px;
        bottom: 0;
        left: 459px;
        left: 0;
        border-radius: 50%;
        background-color: var(--primary);
        background: linear-gradient(135deg, #D8E6EF, #4EF8FF);
        z-index: -1;
    }

    .bike_name{
        max-width: 4ch;
        position: relative;
        top: 152px;
        left: 134px;
        font-size: 9rem;
        text-transform: uppercase;
        color: var(--light);
        font-family: var(--font-secondary);
    }
    
    .sparkle-1{
        position: relative;
        top: 425px;
        left: 30px;
    }

    .sparkle-2{
        position: relative;
        top: 820px;
        left: 596px;
    }
}